# AI Service
ai-service/venv/
ai-service/__pycache__/
ai-service/*.pyc
ai-service/.env
ai-service/app/static/tts/

# Frontend (Vite)
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env.local
frontend/.env.*.local

# Backend
backend/node_modules
backend/.env

# Misc
.DS_Store
.idea
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
